Custom Scrollbar Styles .custom_scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #0000;
}

For WebKit browsers .custom_scrollbar::-webkit-scrollbar {
  background: #555;
  width: 12px;
}

.custom_scrollbar::-webkit-scrollbar-track {
  background: #0000;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
  background: #0000;
  border-radius: 20px;
}

.custom_scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom_audio {
  background: #0000;
  padding: 5px;
  border: none;
  outline: none;
  box-shadow: none;
}

.custom_audio::-webkit-media-controls-panel {
  background-color: #333;
  padding: 0;
  margin: 0;
}

.custom_audio::-webkit-media-controls-enclosure {
  border: none;
  padding: 0;
  margin: 0;
}

.custom_audio::-webkit-media-controls-play-button,
.custom_audio::-webkit-media-controls-mute-button,
.custom_audio::-webkit-media-controls-timeline,
.custom_audio::-webkit-media-controls-volume-slider {
  filter: invert(1);
}

.custom_audio::-webkit-media-controls-time-remaining-display,
.custom_audio::-webkit-media-controls-current-time-display {
  text-shadow: none;
  color: white;
}

.custom_audio::-webkit-media-controls-enclosure {
  border: none;
  padding: 0;
  margin: 0;
}
.custom_audio::-webkit-media-controls-overlay-enclosure {
  border: none;
  padding: 0;
  margin: 0;
}
